<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PAQUITA PROJECT TESTER</title>
    <link rel="stylesheet" href="/main.css" />
  </head>

  <body>
    <main class="previewtwo">
      <div class="projectImage"><%= project.image %></div>
      <article class="cardtwo">
        <h2 class="cardtwo__projectTitle">
          <span class="cardtwo__projectTitle--text">Nuestro proyecto</span>
        </h2>

        <div class="cardtwo__author">
          <div class="cardtwo__authorPhoto"></div>
          <h3 class="cardtwo__name"><%= project.name %></h3>
          <p class="cardtwo__job"><%= project.job %></p>
        </div>

        <div class="cardtwo__project">
          <h3 class="cardtwo__name"><%= project.title %></h3>
          <p class="cardtwo__slogan"><%= project.slogan %></p>
          <h3 class="cardtwo__descriptionTitle">Descripción</h3>
          <p class="cardtwo__description"><%= project.description %></p>

          <div class="cardtwo__technicalInfo">
            <p class="cardtwo__technologies"><%= project.technology %></p>

            <a
              class="icon icon__www"
              href="<%= project.demo %>"
              title="Haz click para ver el proyecto online"
            >
              Web link
            </a>
            <a
              class="icon icon__github"
              href="<%= project.repository %>"
              title="Haz click para ver el código del proyecto"
            >
              GitHub link
            </a>
          </div>
        </div>
      </article>
    </main>
  </body>
</html>
